:root {
  --nav-bar-height: 70px;
}

.nav-bar {
  min-height: var(--nav-bar-height);

  .logo {
    & > img {
      width: 88px;
      height: 70px;
    }
  }

  nav {
    width: 100%;
  }

  &__link-list {
    list-style-type: none;
    margin: 0;
    color: var(--gray);
    padding-left: 20px;
  }

  &__link {
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: var(--black);
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__search-icon,
  .log-out {
    cursor: pointer;
    svg {
      fill: var(--gray) !important;
    }
    svg:not([fill]) {
      fill: var(--gray) !important;
    }

    &:hover {
      svg {
        fill: var(--black) !important;
      }
      svg:not([fill]) {
        fill: var(--black) !important;
      }
    }
  }

  &__search-bar {
    margin-top: var(--nav-bar-height);
  }
}
