.row-node {
  display: flex;
  margin-top: 10px;

  .row-node__done-bg {
    background: #a6ddaf;
  }

  &__edge {
    display: flex;
    position: relative;
    cursor: pointer;
    .image {
      background: url("/images/plus.svg");
      background-size: cover;
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 15px;
    }

    .text {
      padding-right: 18px;
      margin-right: 14px;
      background: white;
    }

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background: #bfbfbf;
      left: 25px;
      top: 50%;
      width: 24px;
    }

  }


  &--child {
    position: relative;

    &:last-child {
      &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 12px;
        left: -18px;
        background: white;
      }
    }
  }

  &__childes {
    position: relative;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      left: 12px;
      width: 1px;
      background: #bfbfbf;
      height: 100%;
    }

    .row-node__edge {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 19px;
        height: 1px;
        left: -18px;
        background: #bfbfbf;
      }

      &::after {
        content: none;
      }

    }
  }

  &__content {
    background: #ededed;
    padding: 2px;
    flex: 1;
    border-radius: 2px;
    position: relative;
  }

  &__content-block {
    position: absolute;
    top: 30px;
    left: 0;
  }

  &__open-block {
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
    height: 100%;
    top: 27px;
    background: url("/images/dots.svg");
    background-size: cover;
  }
}

.row-node--active > .row-node__edge {

  .image {
    background-size: cover;
    background: url("/images/minus.svg");
  }

}

.row-node--leaf {
  .row-node__edge {
    .image {
      display: none;
    }
  }
}
