.nav-bar {
  min-height: 70px;

  nav {
    width: 100%;
  }

  &__link-list {
    list-style-type: none;
    margin: 0;
    color: #767676;
  }

  &__link {
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: var(--black);
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .log-out {
    svg {
      fill: var(--black) !important;
    }
    svg:not([fill]) {
      fill: var(--black) !important;
    }

    &:hover {
      svg {
        fill: var(--black) !important;
      }
      svg:not([fill]) {
        fill: var(--black) !important;
      }
    }
  }
}
