.auth-template {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}

.auth {
  &__form-section {
    margin-top: 200px;
    height: 100%;
  }

  &__image-section {
    height: 100%;
    background-image: url('/images/roof.jpg');
    background-size: cover;
  }

  &__submit-button {
    background-color: #3b6bd2;
    color: var(--white);
  }

  &__sign-up-link {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .error-text {
    color: var(--red);
  }
  .lds-dual-ring {
    display: inline-block;
    width: 12px;
    height: 12px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
