.info-block {
  width: 300px;
  border-radius: 2px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background: white;
  z-index: 100;

  section {
    padding: 5px 1.5rem;
    &:not(:last-child) {
      border-bottom: 1px solid #ededed;
    }
  }

  &__breadcrumbs {
    p {
      font-size: 14px;
      color: #808080;
      white-space: nowrap;
      &:not(:last-child) {
        &::after {
          font-size: 95%;
          color: #808080;
          vertical-align: top;
          content: " →  ";
          margin-right: 4px;
        }
      }
    }
  }

  &__title {
    font-size: 21px;
    font-weight: 700;
    color: var(--black);
  }

  &__status {
    font-size: 14px;
    color: var(--black);

    &--complete {
      color: lightgreen;
    }
  }

  &__table-of-contents-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
  }

  &__status {
    padding: 13px 1.5rem !important;
  }

  &__table-of-contents-text {
    font-size: 14px;
    color: var(--black);

    &::before {
      font-size: 95%;
      color: grey;
      content: "§ ";
    }
  }

  &__actions {
    button {
      border: 1px solid;
      outline: none;
      border-radius: 4px;
      padding: 8px 4px;
      color: var(--black);
      background: white;
      cursor: pointer;
      margin: 5px;
      font-weight: 600;
      display: block;
    }

    &:active {
      outline: none;
      background: white;
    }
  }
}
