:root {
  --black: #101113;
  --white: #fff;
  --white-gray: #EEF0F2;
  --gray: #767676;
  --dark-gray: #363636;
  --turquoise: #4f807d;
  --royal-blue: #0f3e98e0;
  --light-yellow: #fcf4cfb8;
  --light-green: #4dbb5e;
}
