.categories-page {
  background: var(--white-gray);
  &__banner {
    background: url("/images/lib.jpg");
    background-size: cover;
    width: 100%;
    min-height: 400px;
    margin-top: -3rem;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
  }

  &__desc {
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
  }

  &__new-category {
    background: white;
    border-radius: 4px;
    text-align: center;
  }

  &__filter {
    height: 70px;
    background-color: var(--white);
    p {
      height: 20px;
      font-size: 15px;
      font-weight: 500;
    }

    .bp3-control.bp3-switch input:checked ~ .bp3-control-indicator,
    .bp3-control.bp3-switch:hover input:checked ~ .bp3-control-indicator{
      background: black;
    }
  }

  &__road-map {
    background: var(--light-yellow);
    height: 600px;
  }

  &__road-map-content {
    padding-left: 50px !important;
  }

  &__road-map-text {
    font-weight: 300;
    color: black;
    font-size: 35px;
  }

  &__road-map-btn {
    width: 300px;
    outline: none;
    font-size: 25px;
    color: var(--black);
    background: var(--white-gray);
    padding: 8px 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

}
