.sign-up {
  &__form-section {
    margin-top: 200px;
    height: 100%;
  }

  &__image-section {
    height: 100%;
  }

  &__submit-button {
    background-color: #3b6bd2 !important;
    color: white !important;

    svg {
      fill: white !important;
    }
  }

  &__sign-in-link {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .tag-list {
    &__text {
      font-size: 21px;
      font-weight: 500;
    }

    .selected-tag {
      position: relative;
      padding: 2px 10px;
      border: 1px solid #bbb;
      border-radius: 8px;
      background: #e6e6e6;

      &__text {
        font-size: 13px;
        margin-right: 5px;
        white-space: nowrap;
      }

      &__close {
        position: absolute;
        bottom: 2px;
        right: 4px;
        color: #7d7d7d;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__category-tag {
    margin: 8px;
    margin-left: 0px;
    white-space: nowrap;
    font-size: 14px;
    padding: 4px 6px;
  }
}
