.sign-up {
  background-image: url('/images/sign-up-background.jpeg');

  &__label {
    color: lightgray;
  }

  &__form-section {
    margin-top: 200px;
    height: 100%;
  }

  &__image-section {
    height: 100%;
  }

  &__submit-button {
    background-color: #3b6bd2 !important;
    color: white !important;

    svg {
      fill: white !important;
    }
  }

  &__sign-in-link {
    position: fixed;
    top: 20px;
    right: 20px;

  }
}
