.sign-up {
  background-image: url('https://images.unsplash.com/photo-1585511582331-14e7c5f89735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');

  &__label {
    color: lightgray;
  }

  &__form-section {
    margin-top: 200px;
    height: 100%;
  }

  &__image-section {
    height: 100%;
  }

  &__submit-button {
    background-color: #3b6bd2 !important;
    color: white !important;

    svg {
      fill: white !important;
    }
  }

  &__sign-in-link {
    position: fixed;
    top: 20px;
    right: 20px;

  }
}
