.main-template {
  min-height: 100vh;
  &__header {
    width: 100%;
    height: 70px;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
  }

  &__logo {
    color: var(--black);
  }

  &__nav-bar {}

  &__link-list {
    list-style-type: none;
  }

  &__link {
    font-weight: 900;
    color: var(--gray);
    cursor: pointer;

    &:hover {
      color: var(--black);
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__log-out {
    svg {
      fill: var(--black) !important;
    }
    svg:not([fill]) {
        fill: var(--black) !important;
    }

    &:hover {
      svg {
        fill: var(--black) !important;
      }
      svg:not([fill]) {
        fill: var(--black) !important;
      }
    }
  }
}
